<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href='{% url 'board' %}'> Главная </a>

    <p>рубрики:</p>

    <div>
    {% for rudric in rubrics %}
        <a href="/bboard/{{ rudric.pk }}"> <p>{{ rudric }}</p> </a>
    {% endfor %}
    </div>
    <p>текущая рубрика: {{ current_rubric }}</p>


    {% for bb in bbs %}
      <div>
        <h2>{{ bb.title }}</h2>
        <p>{{ bb.content }}</p>
        <p>{{ bb.price }}</p>
        <p>{{ bb.published|date:'d.m.Y H:i:s' }}</p>
        <p>{{ bb.rubric.pk }}</p>
      </div>
    {% endfor %}


</body>
</html>